{% extends "base.html" %}

{% block title %}
Index Page
{% endblock %}

{% block content %}
<ul>
  {% for person in people %}
  <li>
    {{ person.name }} ({{ person.age }})
    <form method="POST" action="{{ url_for('delete_pid', pid=person.pid) }}"> <br>
      <button type="submit">Delete</button> <br>
    </form>
    <a href="{{ url_for('detail', pid=person.pid) }}"><br>
      <button type="submit">Tap for Details</button></a> <br>
    <a href="{{url_for('update_things', pid = person.pid)}}"> <br>
    <button type="Edit">Edit</button></a><br>
  </li>
  {% endfor %}
</ul>

<h3>New Person</h3>

<form method="POST" action="{{ url_for('index') }}">
  <input type="text" name="name" placeholder="name" required><br>
  <input type="number" name="age" placeholder="age"><br>
  <input type="submit" value="Create">
</form>
{% endblock %}
